name: Black Formatting

on:
  push:
  pull_request:

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - uses: actions/setup-python@v6
        with:
          python-version-file: .python-version

      - name: Install Dependencies
        run: make install

      - name: Test Formatting
        run: make black_check
